#this is a valid configuration file 
#The following variables don't have default values and must be set 
spImagesDirectory = ./images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 100

spPCAFilename = pca.yml
spPCADimension = 28
spNumOfFeatures = 100
spExtractionMode = false

spNumOfSimilarImages = 5
spKDTreeSplitMethod = RANDOM
spKNN = 10

spMinimalGUI = false
spLoggerFilename = test1.log
spLoggerLevel = 4